body {
    color: #004c8c;
    font-family: arial, sans-serif;
  }
  
  .wrapper {
    margin: 0 auto;
  }
  
  .result {
    align-items: center;
    border: solid 1px #004c8c;
    border-width: 5px;
    display: flex;
    font-size: 120px;
    font-weight: bold;
    justify-content: center;
    height: 120px;
    margin: 0 auto 10px;
    text-align: center;
    width: 200px;
  }
  
  .number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .number {
      width: 100%;
    }
  }
  
  .number li {
    align-items: center;
    border: solid 1px #004c8c;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    height: 45px;
    margin: 10px;
    width: 45px;
  }
  
  .number li.hit {
    background: #004c8c;
    color: #fff;
  }
  
  .wrapper-button {
    padding: 20px 0 50px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 120px;
    height: 120px;
    font-size: 25px;
    line-height: 120px;
    border-radius: 50%;
    border: double 4px #668ad8;
    text-align: center;
    overflow: hidden;
    transition: .6s;
    padding: 0;
  }
  
  .button:hover {
    background: #668ad8;
    color: #ffffff;
    box-shadow: 0 0 0 5px #0300a5;
  }
  
  .select {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #668ad8;
  }

  #select_string {
    background-color: #e2ecff;
  }

  #select_button:hover {
    background: #668ad8;
    color: #ffffff;
    box-shadow: 0 0 0 1px #668ad8;
    border-radius: 0.3em;
  }

  footer {
    text-align: center;
  }